body {
  font: 13px Helvetica, Arial;
}

form {
  top: 0;
}

#button-submit {
    width: 100%;
}

#m {
	width: 100%;
}

.messages {
    list-style: none;
    padding: 0px;
}

.messages li {
    padding: 2px;
}

.messages li:nth-child(odd) {
    background: #eee;
}

#chat-tabpanel {
    margin-top: 15px;
}

#chat-tabpanel .tab-pane {
    padding-top: 10px;
}
