body {
    font: 13px Helvetica, Arial;
}

#chat-form {
    margin-top: 10px;
}

#button-submit {
    width: 100%;
}

#m {
    width: 100%;
}

#chat-tabpanel {
    margin-top: 10px;
}

#chat-tabpanel .tab-pane {
    padding-top: 10px;
}

.messages {
    list-style: none;
    padding: 0px;
    margin-top: 10px;
}

.messages li {
    padding: 2px;
}

.messages li:nth-child(odd) {
    background: #fafafa;
}

.users {
    margin-top: 10px;
}

.add-user {
    margin-top: 10px;
}

form.add-user input,
form.add-user button {
    width: 100%;
}
