* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

form {
  padding: 3px;
  top: 0;
  width: 100%;
}

#button-submit {
    width: 100%;
}

#m {
	width: 100%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}


#right-list {
    width: 200px;
    min-height: 100px;
    position: fixed;
    right: 5px;
    top: 5px;
}
